/* Responsive  */

/* Tablet mini - Tablet medium  */
@media (min-width: 48em) and (max-width: 61.9375em) { 
    #main ._buy-ticket-quick ._select-quick {
        font-size: 12px !important;
    }

    #main ._buy-ticket-quick ._lb-book-ticket {
        font-size: 20px !important;
    }

    #main ._buy-ticket-quick ._btn-book-now {
        font-size: 14px !important;
    }
}





/* Common */



._weight-500 {
    font-weight: 500;
}

._weight-600 {
    font-weight: 600;
}

._font-anton {
    font-family: 'Anton', sans-serif;
}

._font-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

._btn-carousel-circle {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;

}

._disabled{
    pointer-events: none !important;
}

._hover-underline-yellow {
    transition: all ease-in-out 0.3s;
}

._hover-yellow {
    transition: all ease-in-out 0.3s;
}


._hover-yellow:hover {
    color: #f3ea28 !important;
    transition: all ease-in-out 0.3s;
}

._hover-underline-yellow:hover {
    color: #f3ea28 !important;
    text-decoration: underline;
    transition: all ease-in-out 0.3s;
}

#header ._subnav ._text {
    letter-spacing: .8px;
}


._btn-pri {
    color: #0f172a;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    font-weight: 500;
}

._btn-pri::after,._btn-pri::before {
    content: "";
    height: 100%;
    position: absolute;
    transition: all .4s ease-in-out;
    border-radius: 5px;
}

._btn-pri::before {
    background: #f3ea28;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

._btn-pri::after {
    background: linear-gradient(106deg,#639,#36c 102.69%);
    bottom: 0;
    height: 100%;
    left: 0;
    width: 0;
    z-index: -1;
}

._btn-pri:hover {
    color: #fff;
}

._btn-pri:hover::before {
    width: 0;
}

._btn-pri:hover::after {
    width: 100%;
}

._btn-pri:hover img {
    filter: invert(1);
}

._btn-second {
    color: #f8fafc;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    font-weight: 500;
}

._btn-second:after,._btn-second:before {
    content: "";
    height: 100%;
    position: absolute;
    transition: all .4s ease-in-out;
    border-radius: 5px;
}

._btn-second:before {
    background: #639;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

._btn-second:after {
    background: linear-gradient(90deg,#ff6d00,#ffc107);
    bottom: 0;
    height: 100%;
    left: 0;
    width: 0;
    z-index: -1;
}

._btn-second:hover {
    color: #000;
}

._btn-second:hover img {
    filter: invert(1);
}

._btn-second:hover:before {
    width: 0;
}

._btn-second:hover:after {
    width: 100%;
}

._btn-outline {
    border: .1rem solid #f3ea28;
    color: #f3ea28;
    position: relative;
    z-index: 1
}

._btn-outline:after,._btn-outline:before {
    content: "";
    height: 100%;
    position: absolute;
    transition: all .4s ease-in-out;
}

._btn-outline:before {
    background: transparent;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -2
}

._btn-outline:after {
    background: linear-gradient(90deg,#ff6d00,#ffc107);
    bottom: 0;
    height: 100%;
    left: 0;
    width: 0;
    z-index: -1
}

._btn-outline:hover {
    color: #fff
}

._btn-outline:hover:before {
    width: 0
}

._btn-outline:hover:after {
    width: 100%
}







/* Main Css */

#header ._mycom {
    font-size: 1.5rem;
}

#header ._lb-btn-nav {
    font-size: 16px;
}

#header ._hd-right {
    font-size: 1.1rem;
}

#header ._subnav-rigth {
    width: 500px;
}

#header .offcanvas-body {
    background-color: #0f172a;
}

#header .offcanvas-header {
    background-color: #0f172a
}

#header ._navbar-bottom-mobile {
    background-color: #663399;
}

#header ._navbar-bottom-mobile a {
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
}


#main {
    background-image: repeating-linear-gradient(120deg,rgb(23, 26, 53),rgb(36, 70, 142));
    padding-top: 76px;
}

#main ._silder .carousel-indicators {
    bottom: -55px;
}

#main ._buy-ticket-quick {
    background-color: #ecf2ff;
    border-radius: 5px;
}

#main ._buy-ticket-quick .col {
    padding: 0 5px;
    
}

#main ._buy-ticket-quick ._select-quick {
    border-radius: 10px;
    border: 1px solid #908888;
    color: #663399;
}

#main ._buy-ticket-quick ._option{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    color: #000;
}

._select-quick.isActive {
    background-color: #f3ea28 !important;
}

#main ._buy-ticket-quick {
    box-sizing: border-box;
    padding:10px 0px ;
}



#main ._buy-ticket-quick ._option {
    background-color: #fff;
}

#main ._buy-ticket-quick ._option:checked {
    background-color: #f3ea28;
}

#main ._buy-ticket-quick ._lb-book-ticket {
    font-size: 22px;
}

#main ._buy-ticket-quick ._btn-book-now {
    background-color: #663399;
}

#main ._card .card-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

#main .card ._btn-pri {
    /* width: 120px; */
    height: 40px;

}

#main #slider-film-showing .carousel-indicators {
    position: absolute;
    bottom: -50px;
}

#main #slider-film-showing-mobile .carousel-indicators {
    position: absolute;
    bottom: 10px;
}

#main #slider-film-future-mobile .carousel-indicators {
    position: absolute;
    bottom: 10px;
}

#main #slider-film-future .carousel-indicators {
    position: absolute;
    bottom: -50px;
}

#main ._container-show {
    margin-left: -21px;
    margin-right: -21px;
}


#main ._introduce-membership ._card-member, #main ._introduce-membership ._card-vip {
    background-color: rgba(100, 100, 100, 0.7);
    border-radius: 10px;

}

#main ._introduce-membership ._card-member  .card-title {
    color: rgb(132, 71, 192);
}
#main ._introduce-membership ._card-member  .card-text {
    color: #fff;
    font-size: 18px;
}

#main ._introduce-membership ._card-vip  .card-title {
    color: rgb(255, 119, 1)
}
#main ._introduce-membership ._card-vip  .card-text {
    color: #fff;
    font-size: 18px;
}

#main ._introduce-membership .card-title {
    font-family: 'Anton', sans-serif;
}

#main ._introduce-membership .card-text {
    font-family: 'Josefin Sans', sans-serif;
}





